:root {
    --primary-color: #038fcf;
    --secondary-color: #ecde1c;
    --tertiary-color: #ffffff;
    --quaternary-color: #291a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    background-color: var(--quaternary-color);
    border: 3px solid var(--quaternary-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;
}

#image {
    flex: 1 0 0;
}

#form {
    flex: 1 0 400px;
    width: 70%;
    padding: 15px;
}

#form h1 {
    padding: 0px 10px 10px 10px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

#form p {
    margin: 10px 0 15px 0;
}

.form-input {
    display: block;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 7px 15px;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
    background-color: var(--tertiary-color);
    outline: none;
}

.checkbox-wrapper input, .radio-wrapper input {
    
}

#form button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    color: var(--quaternary-color);
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
}

#form button:hover {
    background-color: var(--quaternary-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}